html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
body {
  margin: 0;
  position: relative;
  display: flex;
  width: 480px;
  height: 95vh;
  border: 10px solid black;
  background-color: #212121;
  border-radius: 15px;
}

@font-face {
  font-family: 'Ownglyph_Dailyokja-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}